@model IEnumerable<Insure.Web.ViewModels.CompanyClientsGroup>

@{
    ViewBag.Title = "Subscribers by Company";
}

<h2>Subscribers by Company</h2>

<table>
    <tr>
        <th>
            Company
        </th>
        <th>
            Clients
        </th>
    </tr>

    @foreach (var item in Model)
    {
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyUsers.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCount)
            </td>
        </tr>
    }
</table>
