@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Questions?</h3>

<address>
   
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:danmcmanus11@outlook.com">danmcmanus11@outlook.com</a><br />
    <strong>Inquiries:</strong> <a href="mailto:danmcmanus11@outlook.com">danmcmanus11@outlook.com</a>
</address>