@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Insure.Secure</h1>
    <p class="lead">Integrated Platform Accessibility for all of your insurance business</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>*</h2>

    </div>
    <div class="col-md-4">
        <h2>*</h2>

    </div>
    <div class="col-md-4">
        <h2>*</h2>
    </div>
</div>