<?xml version="1.0"?>

<backload storageContext="Database" filesUrlPattern="{backload}" thumbsUrlPattern="{base64}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="Config\Web.Backload.xsd">
  <database tableName="Files" storageMode="Internal"  tempFolder="~/Files/Temp/" />
  </backload>
    