<?xml version="1.0"?>

<!-- To use server side events, set eventing="true" /> -->
<backload storageContext="Database" filesUrlPattern="{backload}" thumbsUrlPattern="{base64}"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="Config\Web.Backload.xsd">

  <database tableName="Files" storageMode="Internal" />


  <!-- Sets the root upload folder internal and external path example (default: ~/Files) -->
   <!--<fileSystem filesRoot="~/Uploads" />--> 
  <!-- <fileSystem filesRoot="z:\Uploads\" virtualDirectory="Uploads" -->
  <!-- <fileSystem filesRoot="\\FileServer\Files\" virtualDirectory="Uploads" -->
</backload>


    